@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
    max-width: 1400px;


}

:root {
    --disc-primary: #3161e0;
    --disc-light: #f6f6f6;
    --disc-dark: #23272A;
}

/* #region header */

/*------------- menu-------------- */
.nav_container {

    height: 4rem;
    padding-top: .8rem;
    display: flex;
    background-color: var(--disc-primary)
}

.nav_menu {
    height: 2.5rem;
    width: 65%;
    margin: auto;
    align-items: center;
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
}

.logo {
    /* border: 1px dashed black; */
    height: 2rem;
    width: 8rem;
    background-image: url(/assets/img/logo.svg);
    background-size: 6rem;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    /* border: 1px dashed black; */
}

li {
    color: white;
    font-size: 0.8rem;
    justify-content: center;
}

.login {
    /* border: 1px dashed black; */
    height: 2rem;
    width: 8rem;
    display: flex;
    flex-direction: row-reverse;
}

.nav_button {
    background-color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    font-size: .7rem;
}

/*------------- end menu-------------- */

/*-------------- jumbo----------------- */

.jumbo_container {
    /* border: 1px dashed black; */
    background-image: url(/assets/img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 28rem;
    display: flex;
    padding-top: .5rem;

}

.jumbo_content {
    width: 70%;
    height: 80%;
    margin: auto;
    padding-top: 2.5rem;
    /* border: 1px dashed black; */
}

.jumbo_title {
    /* border: 1px solid rgb(255, 0, 0); */
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.jumbo_description {
    /* border: 1px solid black; */
    padding-top: 2rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    font-weight: 500;
}

.jumbo_buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 1.5rem;
}

.download {
    border: none;
    background-color: white;
    padding-top: 0.7rem;
    padding-bottom: .7rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    font-size: .9rem;
    font-weight: 400;
    border-radius: 25px;
}

.open_browser {
    border: none;
    background-color: var(--disc-dark);
    color: white;
    padding-top: 0.7rem;
    padding-bottom: .7rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    font-size: .9rem;
    font-weight: 400;
    border-radius: 25px;
}

/*------------ end jumbo -------------*/

/* #endregion header */

/*       #region main          */
.sm-section {
    height: 30rem;
    border: 1px dashed black;
    display: flex;
    padding-top: 3rem;
}

.sm-gray-section {
    height: 30rem;
    border: 1px dashed black;
    display: flex;
    padding-top: 3rem;
    background-color: var(--disc-light);
}

.container {
    width: 70%;
    height: 90%;
    margin: auto;
    display: flex;

    /* border: 1px dashed black; */
}

.item_1 {
    width: 60%;
    height: 95%;
    background-image: url(/assets/img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 2.5rem;
}

.item_2 {
    width: 60%;
    height: 95%;
    background-image: url(/assets/img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 4rem;


}


.item_title {
    padding: 2rem;
    padding-left: 3.4rem;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
}

.item_description {
    padding-left: 3.4rem;
    font-size: .9rem;
    line-height: 1.5rem;
}


.upside {
    transform: rotate(180deg);
}